@import "./index.scss";

.cartePrestation {
  border-radius: 10px !important;
  display: flex;
  flex: 1 1 auto;

  min-height: 300px;
  min-width: 300px;

  width: min-content;

  .enteteCarte,
  .piedDePageCarte {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .enteteCarte {
    width: fit-content;
  }

  .piedDePageCarte {
    width: auto;
  }

  .prixCarte {
    margin: 0 1em;
  }
  .texteCarte {
    margin: 1em 0;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  img {
    object-fit: cover;
  }

  &:hover {
    box-shadow: 4px 4px 4px $couleurOmbre;
  }
}
