@import "./index.scss";

.cartePrestation {
  border-radius: 10px !important;
  display: flex;

  flex-direction: column;

  height: 500px;
  min-width: 300px;
  width: 22vw;

  .contenuCarte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .enteteCarte,
  .piedDePageCarte {
    display: flex;
    justify-content: space-between;
  }

  .enteteCarte {
    width: fit-content;
  }

  .piedDePageCarte {
    width: auto;
  }

  .prixCarte {
    margin: 0 1em;
  }
  .texteCarte {
    margin: 1em 0;

    -webkit-line-clamp: 3;
  }

  .titreCarte {
    -webkit-line-clamp: 1;
  }

  .titreCarte,
  .texteCarte {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  img {
    object-fit: cover;
    height: 50%;
  }

  &:hover {
    box-shadow: 4px 4px 4px $couleurOmbre;
  }
}
